:root {
    --color : #434455;
    --second-color : #4d5ae5 ;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--color) ;
    background-color: #FFFFFF;

}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color) ;}
 .link {
        text-decoration: none;
    }
.list{
        list-style: none;
    }
.navigation_item{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42 ;
    }
.navigation_item:hover{
        color: #404bbf;
    }
.navigation_item:focus{
        color: #404bbf;
    }

.adress_general{
        font-style: normal;
    }

.studio {
    color:#2e2f42;
}
.navigation_item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.02em;

}
.navigation_item:active{
    color: #404BBF;
    text-decoration: underline;
    }

.adress_item{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #434455;
letter-spacing: 0.02em;
line-height: 1.5;
}
.adress_item:hover{
color: #404BBF;

}
.adress_item:focus{
color: #404BBF;
}
.mainh{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}
.button_filtr{
font-family: 'Roboto', sans-serif;
color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background: #F4F4FD;
letter-spacing: 0.04em 
cursor : pointer;
}
.button_filtr:hover{
background-color: #404BBF;
color: white;
}
.button_filtr:focus{
    background-color: #404BBF;
    color: white;
    }
.texth {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.photo_item p{
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.footer_p{
 font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.logo_footer{
font-family: 'Raleway', sans-serif;
line-height: 1.17;
font-weight: 800;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer_logo_span{
    color: #f4f4fd ;
}
/*   
first page
*/
.btn_order{
font-family: "Roboto", sans-serif;
line-height: 1.5;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
border-radius: 4px;
cursor:pointer;
}
.btn_order:hover{
    background: #404BBF;
}
.btn_order:focus{
    background: #404BBF;
}
.title{
    background:#2E2F42;
    font-family: 'Roboto';

font-weight: 700;
font-size: 56px;
line-height: 60px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.pinlist{
    font-family: 'Roboto';

font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.hworks {
font-family: 'Roboto',sans-serif;
text-align: center;
font-weight: 700;
font-size: 36px;
color: #2E2F42;
text-transform: capitalize;
line-height: 1.11;
}

.team{
    background-color: #F4F4FD
}
.hteam {
    font-family: 'Roboto';
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    text-align: center ;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.workers {
    background-color: #FFFFFF;
}

.hworkers { 
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.pworkers { 
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color:#434455;

}
.footer_main { 
        background-color: #2E2F42;;
}