

body{
    font-family: "Roboto", sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;

}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;}
 .link {
        text-decoration: none;
    }
    .list{
        list-style: none;
    }
    .navigation_item{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42 ;
    }
    .navigation_item:hover{
        color: #404bbf;
    }
    .navigation_item:focus{
        color: #404bbf;
    }

    .adress_general{
        font-style: normal;
    }

.studio {
    color:#2e2f42;
}
.navigation_item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.02em;

}
.navigation_item:active{
    color: #404BBF;
    text-decoration: underline;
    }

.adress_item{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #434455;
letter-spacing: 0.02em;
line-height: 1.5;
}
.adress_item:hover{
    color: #404BBF;

}
.adress_item:focus{
    color: #404BBF;
}
.mainh{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}
.button_filtr{
font-family: 'Roboto', sans-serif;
color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background: #F4F4FD;
border: 1px solid #E7E9FC;
cursor: pointer;
}
.button_filtr:hover{
background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: white;
}
.button_filtr:focus{
    background: #404BBF;
    
    }
.texth3 {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.photo_item p{
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.footer_p{
 font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.logo_footer{
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer_logo_span{
    color: #f4f4fd ;
}
/*   
first page
*/
.btn_order{
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.btn_order:hover{
    background: #404BBF;
}
.title{
    background:#2E2F42;
    font-family: 'Roboto';

font-weight: 700;
font-size: 56px;
line-height: 60px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.pinlist{
    font-family: 'Roboto';

font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.h2works {
    font-family: 'Roboto';
line-height: 1.11;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #2E2F42;
text-transform: capitalize;
}

.team{
    background-color: #F4F4FD
}
.h2team {
    font-family: 'Roboto';
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    text-align: center ;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.workers {
    background-color: #FFFFFF;
}

.h3workers { 
font-family: 'Roboto';
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.pworkers { 
    font-size: 16px;
    line-height: 0.02em;
    color:#434455;

}
.footer_main { 
        background-color: #2E2F42;;
}